<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
    <head>
        <title>Connexion</title>
        <link rel="stylesheet" th:href="@{/css/main.css}" type="text/css">
    </head>
    <body class="flex-center">
        <div class="container">
            <div class="mb-w2 mt-w1">
                <label class="btn btn-orange">Pay My Buddy</label>
            </div>
            <div th:if="${param.logout}">
                <p>Vous avez été déconnecté avec succès.</p>
            </div>
            <form th:action="@{/login}" method="post">
                <!-- Label pour le champ Email -->
                <label for="username">Email</label>
                <input type="text" id="username" name="username" placeholder="Email" required aria-describedby="username-help"/>
                <span id="username-help" hidden="hidden">Renseignez votre e-mail</span>

                <!-- Label pour le champ Mot de passe -->
                <label for="password">Mot de passe</label>
                <input type="password" id="password" name="password" placeholder="Mot de passe" required aria-describedby="password-help"/>
                <span id="password-help" hidden="hidden">Renseignez votre mot de passe</span>

                <div class="flex-center">
                    <button class="btn btn-blue" type="submit">Connexion</button>
                </div>
            </form>

            <div class="flex-center mt-w1">
                <a th:href="@{/user/new}" type="submit">Inscription</a>
            </div>

            <p th:if="${param.error}" aria-live="assertive" id="error-message">Nom d'utilisateur ou mot de passe invalide.</p>
        </div>
    </body>
</html>
