<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Liste des utilisateurs</title>
    </head>
    <body>
        <h1>Liste des utilisateurs</h1>
        <table border="1" role="table">
            <caption>Liste des utilisateurs enregistrés</caption>
            <thead>
            <tr>
                <th role="columnheader">ID</th>
                <th role="columnheader">Nom d'utilisateur</th>
                <th role="columnheader">Email</th>
            </tr>
            </thead>
            <tbody>
            <!-- Boucle Thymeleaf -->
            <tr th:each="user : ${users}">
                <td th:text="${user.id}" role="cell"></td>
                <td th:text="${user.username}" role="cell"></td>
                <td th:text="${user.email}" role="cell"></td>
            </tr>
            </tbody>
        </table>
    </body>
</html>
