<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{base}" lang="fr">
    <head>
        <title layout:title-pattern="Pay My Buddy - Liste des utilisateurs">Liste des utilisateurs</title>
    </head>
    <body>
        <main layout:fragment="content">
            <div class="user-info">
                <div class="row">
                    <span class="label" id="username-label">Nom d'utilisateur :</span>
                    <span class="value" role="definition" aria-labelledby="username-label" th:text="${user.username_User}"></span>
                </div>
                <div class="row">
                    <span class="label" id="email-label">Mail :</span>
                    <span class="value" role="definition" aria-labelledby="email-label" th:text="${user.email}"></span>
                </div>
                <div class="row">
                    <span class="label" id="password-label">Mot de passe :</span>
                    <span class="value" role="definition" aria-labelledby="password-label">Mot de passe masqué pour des raisons de sécurité</span>
                </div>
            </div>
            <a class="btn btn-orange" th:href="@{/user/edit/{id}(id=${user.id})}" aria-label="Modifier le profil">Modifier</a>
        </main>
    </body>
</html>
