<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{base}">
    <head>
        <title layout:title-pattern="Pay My Buddy - Liste des utilisateurs">Liste des utilisateurs</title>
    </head>
    <body>
        <main layout:fragment="content">
            <div class="user-info">
                <div class="row">
                    <span class="label">Username :</span>
                    <span class="value" th:text="${user.username}"></span>
                </div>
                <div class="row">
                    <span class="label">Mail :</span>
                    <span class="value" th:text="${user.email}"></span>
                </div>
                <div class="row">
                    <span class="label">Mot de passe :</span>
                    <span class="value">mot de passe</span>
                </div>
            </div>
            <a class="btn btn-orange" th:href="@{/user/edit/{id}(id=${user.id})}">Modifier</a>
        </main>
    </body>
</html>
